@tailwind base;
@tailwind components;
@tailwind utilities;

iframe {
  display: none;
}

body,
html {
  margin: 0 auto;
  color: White;
  height: 100vh;
  overflow-y: scroll;
  background-image: linear-gradient(to right bottom, #051937, #072e60, #08458c, #0b5cba, #1275eb);
}
main {
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
  min-height: 100vh;
  @apply p-14 pt-52 pb-20;
}

.link {
  @apply text-xl text-yellow-300 underline mt-6 mb-6;
}
